.requestType {
    width: 6.5rem;
    color: #171717;
    background-color: #fafafa;
    padding: 0.75em;
    outline: none;
    border: none;
    line-height: 24px;
    font-weight: 500;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    font-size: 14px;
    border: 1px solid #e3dfdf
}

.urlBox {
    padding: 0.5em 0.75em;    
    outline: none;
    border: none;
    background-color: #fafafa;
    min-width: 300px;
    line-height: 24px;
    border: 1px solid #e3dfdf;
    font-size: 14px;
}

.requestInputBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    gap: 0.6em;
    padding: 0 0.6em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    font-weight: 500
}

.tabHeaders {
     display: flex;
     gap: 1rem;
     margin-top: 1rem;
}

.requestInputBtn:disabled {
    cursor: not-allowed;
}
/* parameters */
.singleParameter {
    display: flex; 
    
}

.singleParameter > div:nth-child(1),.singleParameter > div:nth-child(2){
    flex-grow: 1;
}

.singleParameter > div {
    padding: 0.1em 0.4em;
    border: 2px solid #e8e5e5;
    
    display: flex;
    /* width: 100%; */
}

.singleParameter input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.singleParameter input::placeholder {
    font-size: 12px;
}

/* body */

.bodyTypeHeader {
    color:#b4acac;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
}

.bodyTypeOptions {
    height: 160px;
    width: 15em;
    overflow-y: scroll;    
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 2em;
    text-align: left;    
    border-left: 2px solid #f3f3f3;
    border-top: 2px solid #f3f3f3;
    z-index: 10;
}

.option {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(222, 219, 219);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f2efef;
    border-radius: 4px;
  }

  .codeArea {
      font-size: 14px;
      font-weight: 400;
      color: #737373;
      line-height: 1.5;
      padding: 0.3em 1rem;
      outline: none;
      width: 100%;
      min-height: 260px;
      resize: none;
      border: 1px solid #cecece;
      overflow: auto;
  }

  /*  Response */

  .responseArea {
        position: relative;        
        z-index: 100;
        height: 250px;
        background-color: #fff;
        margin-bottom: 1rem;
        overflow: auto;
        border: 1px solid #cecece;
}

  .responseInfo {
      display: flex;
      gap: 0.5em;
      /* margin-top: 1rem; */
      padding: 1em;
      padding-bottom: 0;
  }

  .responseInfo span {
      
      font-size: 0.7rem;
      font-weight: 500;
  }

  .responseInfo > span {
    color: #737373;
}

.responseInfo > span > span{
    color: #10B981;
}

.responseCodeArea {
    
    min-height: 100%;
    height: 100%;
    display: block;
    overflow-y: scroll;
}

.disableScrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
  .disableScrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }

  .waiting {
      margin-top: 1em;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      align-items: center;
      color: #737373;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }

.waiting > h3 {
    font-size: 1em;
}

.waiting > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 400px;
    gap: 1rem;
}

.waiting li {
    padding: 1em;
    border-bottom: 2px solid royalblue;
}

.waiting a {
    color: royalblue;
    
    
    text-decoration: none;    
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    z-index: 100;
    background-color: rgba(236, 236, 236, 1);
    transition: background-color 0.1s linear
}

.resizer {
    position: sticky;
    top: 0px;
    width: 100%;
    min-height: 4px;
    background-color: #cecece;
    cursor: row-resize;
    z-index: 10000;
    transition: all 0.2s ease-out
    
}

.resizer:hover {
    background-color: violet;
    min-height: 8px;
    
}